{% extends 'layout.twig' %}

{% block body %}
  <form class="auth-form" method="post" action="/auth">
    <h1>
      ┬┴┬┴┤ ͜ʖ ͡°) ├┬┴┬┴
    </h1>
    <p>
      Введите пароль для доступа на страницу
    </p>
    <p>
      {{ header }}
    </p>
    <input type="hidden" name="_csrf" value={{ csrfToken }}>
    <input type="password" name="password" placeholder="Пароль">
    <input type="submit" value="Login">
  </form>
{% endblock %}

